<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="RR" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Restaurant_Review;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="RestaurantReviewSystem.RestaurantService" behaviorConfiguration="RestaurantServiceBehavior">
        <endpoint
          address="RestaurantService"
          binding ="basicHttpBinding"
          contract="RestaurantReviewSystem.IRestaurantService" />
        <endpoint
          address="RestaurantService"
          binding ="netTcpBinding"
          contract="RestaurantReviewSystem.IRestaurantService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="RestaurantServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>